1. Explain the background to the dataset – who created it, when it was created, and any speculation you can ﬁnd regarding how it might have been created. 

2. Plot the interesting aspects of the dataset. 

3. Calculate the descriptive statistics of the variables in the dataset. 

4. Explain why the dataset is interesting, referring to the plots and statistics above.

1 https://en.wikipedia.org/wiki/Anscombe%27s_quartet
                                                                                2  https://faraday.physics.utoronto.ca/GeneralInterest/Harrison/Visualisation/Visualisation.html

### 1.Explain the background to the dataset

The datasets were created by F.W.Anscombe in the 1970's. It is remarkable because the numerical characteristics of all four datasets are strikingly similar, but when they are plotted their visual features bear no resemblance. There is some speculation that the dataset was created as an example that plotting data can actually be a more precise tool for understanding data than statistical formulae and calculations 1.

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/usf-cs360-2017/lectures/master/Anscombe's%20Quartet/data/anscombe.csv")

In [4]:
df

     x      y group   #
0   10   8.04     A   1
1    8   6.95     A   2
2   13   7.58     A   3
3    9   8.81     A   4
4   11   8.33     A   5
5   14   9.96     A   6
6    6   7.24     A   7
7    4   4.26     A   8
8   12  10.84     A   9
9    7   4.82     A  10
10   5   5.68     A  11
11  10   9.14     B   1
12   8   8.14     B   2
13  13   8.74     B   3
14   9   8.77     B   4
15  11   9.26     B   5
16  14   8.10     B   6
17   6   6.13     B   7
18   4   3.10     B   8
19  12   9.13     B   9
20   7   7.26     B  10
21   5   4.74     B  11
22  10   7.46     C   1
23   8   6.77     C   2
24  13  12.74     C   3
25   9   7.11     C   4
26  11   7.81     C   5
27  14   8.84     C   6
28   6   6.08     C   7
29   4   5.39     C   8
30  12   8.15     C   9
31   7   6.42     C  10
32   5   5.73     C  11
33   8   6.58     D   1
34   8   5.76     D   2
35   8   7.71     D   3
36   8   8.84     D   4
37   8   8.47     D   5
38   8   7.04     D   6
39   8   5.25     D   7
40  19  12.50     D   8
41   8   5.56     D   9
42   8   7.91     D  10
43   8   6.89     D  11

In [5]:
df.describe()

               x          y          #
count  44.000000  44.000000  44.000000
mean    9.000000   7.500682   6.000000
std     3.198837   1.958925   3.198837
min     4.000000   3.100000   1.000000
25%     7.000000   6.117500   3.000000
50%     8.000000   7.520000   6.000000
75%    11.000000   8.747500   9.000000
max    19.000000  12.740000  11.000000